table {
	width: 100%;
	.col {
		text-align: center;
		mat-icon {
			cursor: pointer;
			&:hover {
				color: red;
			}
		}
	}
}

.link {
	cursor: pointer;
	&:hover {
		//background-color: #f5f5f5;
		color: red;
	}
}