form {
	display: flex;
	flex-direction: column;
	margin: 2em;

	mat-form-field {

		textarea {
			height: 10em;
			resize: vertical;
		}
	}
}

.inner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.form-wrapper {
		flex: 1;
	}
	.select-wrapper {
		width: 5em;
		mat-list {
			mat-list-item {
				text-align: center;
				&:hover{
					background-color: #f5f5f5;
				}
			}
		}
	}
}