<div *ngIf="dataSource$ | async as dataSource; else loading" class="responsive-container">

  <mat-form-field class="filter">
    <input matInput (ngModelChange)="applyFilter($event)" [(ngModel)]="this.keyword" placeholder="Pesquisa">
  </mat-form-field>

	<table mat-table [dataSource]="dataTableSource">

		<ng-container matColumnDef="titulo">
			<th mat-header-cell *matHeaderCellDef>Título</th>
			<td mat-cell *matCellDef="let element">{{element.title}}</td>
		</ng-container>

		<ng-container matColumnDef="autor">
			<th mat-header-cell *matHeaderCellDef>Autor</th>
			<td mat-cell *matCellDef="let element">{{element.authorName}}</td>
		</ng-container>

		<ng-container matColumnDef="editora">
			<th mat-header-cell *matHeaderCellDef>Editora</th>
			<td mat-cell *matCellDef="let element">{{element.publisher.publisherName}}</td>
		</ng-container>

		<ng-container matColumnDef="quantidade">
			<th class="col" mat-header-cell *matHeaderCellDef>Quantidade</th>
			<td class="col" mat-cell *matCellDef="let element">{{element.availableAmount}}</td>
		</ng-container>

		<ng-container matColumnDef="borrow">
			<th class="col" mat-header-cell *matHeaderCellDef>Emprestar</th>
			<td class="col" mat-cell *matCellDef="let element">
				<mat-icon (click)="borrow(element.title)">check</mat-icon>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
	</table>
</div>

<ng-template class="container" #loading>
	<div class="loading-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
