<header>

	  <mat-toolbar color="primary" class="app-mat-toolbar">
		<button mat-raised-button color="secondary"  mat-icon-button class="active">
		  <mat-icon>menu</mat-icon>
		</button>
		<span>Bem vindo {{username | uppercase}}.</span>
		<div class="right-edge-toolbar">
		  <button  mat-raised-button color="secondary"  mat-icon-button (click)="logout()">
			<mat-icon>exit_to_app</mat-icon>
		  </button>
		</div>
	  </mat-toolbar>

	  <div class="header-menu">
		  <ul>
			<li
        class="underline-animation"
				[ngClass]="{
					'active' : InicioIsActive,
					'inactive' : !InicioIsActive
				}"
				[routerLink]="['welcome']"
			>INICIO</li>

			<li
        class="underline-animation"
				[ngClass]="{
					'active' : AlunosIsActive,
					'inactive' : !AlunosIsActive
				}"
				[routerLink]="['students/list']"
			>ALUNOS</li>

			<li
        class="underline-animation"
				[ngClass]="{
					'active' : ProfessoresIsActive,
					'inactive' : !ProfessoresIsActive
				}"
				[routerLink]="['professors']"
			>PROFESSORES</li>

			<li
        class="underline-animation"
				[ngClass]="{
					'active' : AcervoIsActive,
					'inactive' : !AcervoIsActive
				}"
				[routerLink]="['books/list']"
			>ACERVO</li>

			<li
        class="underline-animation"
				[ngClass]="{
					'active' : RegistroIsActive,
					'inactive' : !RegistroIsActive
				}"
				[routerLink]="['history/unfinished']"
			>REGISTROS</li>
		  </ul>
	  </div>
</header>
