<header>

	  <mat-toolbar color="primary" class="app-mat-toolbar">
		<button mat-raised-button color="secondary"  mat-icon-button class="active">
		  <mat-icon>menu</mat-icon>
		</button>
		<span>Bem vindo {{username | uppercase}}.</span>
		<div class="right-edge-toolbar">
		  <button  mat-raised-button color="secondary"  mat-icon-button (click)="logout()">
			<mat-icon>exit_to_app</mat-icon>
		  </button>
		</div>
	  </mat-toolbar>

	  <div class="header-menu">
		  <ul>
			<li [routerLink]="['welcome']">INICIO</li>
			<li [routerLink]="['students']">ALUNOS</li>
			<li [routerLink]="['professors']">PROFESSORES</li>
			<li [routerLink]="['books/list']">ACERVO</li>
			<li [routerLink]="['history']">REGISTROS</li>
		  </ul>
	  </div>
  

</header>