<table mat-table [dataSource]="dataSource">
	
	<ng-container matColumnDef="titulo">
		<th mat-header-cell *matHeaderCellDef>Título</th>
		<td mat-cell *matCellDef="let element">{{element.title}}</td>
	</ng-container>

	<ng-container matColumnDef="autor">
		<th mat-header-cell *matHeaderCellDef>Autor</th>
		<td mat-cell *matCellDef="let element">{{element.authorName}}</td>
	</ng-container>

	<ng-container matColumnDef="editora">
		<th mat-header-cell *matHeaderCellDef>Editora</th>
		<td mat-cell *matCellDef="let element">{{element.publisher.publisherName}}</td>
	</ng-container>

	<ng-container matColumnDef="quantidade">
		<th class="col" mat-header-cell *matHeaderCellDef>Quantidade</th>
		<td class="col" mat-cell *matCellDef="let element">{{element.availableAmount}}</td>
	</ng-container>

	<ng-container matColumnDef="edit">
		<th class="col" mat-header-cell *matHeaderCellDef>Editar</th>
		<td class="col" mat-cell *matCellDef="let element">
			<mat-icon (click)="edit(element.title)">edit</mat-icon>
		</td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <ng-container class="table-container" *ngIf="displayTable"> -->


<!-- <mat-paginator mat-elevation-z8
	[length]="dataSource?.source.length"
	[pageSize]="10"
	[pageSizeOptions]="[10, 20, 50, 100]"
	showFirstLastButtons
	aria-label="Select page"
>
</mat-paginator> -->

<!-- </ng-container> -->
