<mat-card class="responsive-container">
	<div class="sub-menu">
		<ul>
			<li>
				<button 
					mat-raised-button 
					color="secondary"  
					mat-icon-button 
					[routerLink]="['list']"
					[disabled]="ListIsActive"
				>
					<mat-icon>
						book
					</mat-icon>
					</button>
					<div class="line"></div>
			</li>
			<li>
				<button 
					mat-raised-button 
					color="secondary"  
					mat-icon-button 
					[routerLink]="['authors']"
					[disabled]="AuthorsIsActive"
				>
					<mat-icon>
						person
					</mat-icon>
					</button>
					<div class="line"></div>
			</li>
			<li>
				<button 
					mat-raised-button 
					color="secondary"  
					mat-icon-button 
					[routerLink]="['publishers']"
					[disabled]="PublishersIsActive"
				>
					<mat-icon>
						account_balance
					</mat-icon>
					</button>
					<div class="line"></div>
			</li>
	
			<li>
				<button 
					mat-raised-button 
					color="secondary" 
					mat-icon-button 
					[routerLink]="['add']"
					[disabled]="AddIsActive"
				>
					<mat-icon>
						add
					</mat-icon>
					</button>
					<div class="line"></div>
			</li>
		</ul>
	</div>

	<router-outlet></router-outlet>

</mat-card>
