table {
	width: 100%;
	.col {
		text-align: center;
		margin: 0;
		padding: 0;
		width: 10em;
		mat-icon {
			cursor: pointer;
			&:hover {
				color: red;
			}
		}
	}
}

.row {
  &:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }
}
