<div class="responsive-container main-container" *ngIf="professor$ | async as professor">

	<mat-card>
		<span>
			{{response.data.name | uppercase}}
		</span>
		<span class="icon" (click)="toggleShowForm()">
			<mat-icon>keyboard_arrow_down</mat-icon>
		</span>
	</mat-card>
	<form action="post" #itemForm="ngForm" *ngIf="showForm">

		<div class="inputfield" *ngIf="professor$ | async as professor">
			<mat-form-field>
				<input
					matInput
					placeholder="Nome"
					[(ngModel)]="professor.data.name"
          (ngModelChange)="controlEditButton(professor.data)"
					name ="name"
					[disabled] = "!enableNameEdit"
				>
			</mat-form-field>
			<button>
				<mat-icon (click)="toggleEditNameButtonDisabled()">edit</mat-icon>
			</button>
		</div>

		<div class="inputfield" *ngIf="professor$ | async as professor">
			<mat-form-field>
				<input
					matInput
					placeholder="Cpf"
					[(ngModel)]="professor.data.cpf"
          (ngModelChange)="controlEditButton(professor.data)"
					name ="cpf"
					[disabled] = true
					>
				</mat-form-field>
		</div>

    <button
      mat-button-raised
      color="primary"
      type="submit"
      [disabled]="this.disableEdit"
      (click)="onSubmit(itemForm)"
    >Atualizar</button>

	</form>

  <button
  mat-button-raised
  [disabled]="this.showAddNewBorrow"
  (click)="borrow()"
> + </button>

<div *ngIf="dataSource$ | async as dataSource; else loading">
  <table mat-table [dataSource]="this.dataTableSource">

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let element" class="link" (click)="viewBookDetails(element.unit.book.title)">{{element.unit.book.title}}</td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th class="col" mat-header-cell *matHeaderCellDef>Autor</th>
      <td class="col" mat-cell *matCellDef="let element">{{element.unit.book.author.name}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th class="col" mat-header-cell *matHeaderCellDef>Data do empréstimo</th>
      <td class="col" mat-cell *matCellDef="let element">{{element.startsAt | date:'mediumDate':'':'pt-BR'}}</td>
    </ng-container>

    <ng-container matColumnDef="devolucao">
      <th class="col" mat-header-cell *matHeaderCellDef>Data de devolução</th>
      <td class="col" mat-cell *matCellDef="let element">{{element.endsAt | date:'mediumDate':'':'pt-BR'}}</td>
    </ng-container>

    <ng-container matColumnDef="prazo">
      <th class="col" mat-header-cell *matHeaderCellDef>Prazo</th>
      <td class="col" mat-cell *matCellDef="let element">{{element.deadLine | date:'mediumDate':'':'pt-BR'}}</td>
    </ng-container>

    <ng-container matColumnDef="devolver">
      <th class="col" mat-header-cell *matHeaderCellDef>Devolver</th>
      <td class="col" mat-cell *matCellDef="let element"><button mat-button-raised (click)="devolution(element)" [disabled]="enableDevolution(element)">Devolver</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
  </table>
</div>

<ng-template class="container" #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
</div>
