@import '@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-blue-grey);
$app-secondary: mat-palette($mat-grey);
$app-warning: mat-palette($mat-red);

:root {
  --50:   #ECEFF1;
  --100:  #CFD8DC;
  --200:  #B0BEC5;
  --300:  #90A4AE;
  --400:  #78909C;
  --500:  #607D8B;
  --600:  #546E7A;
  --700:  #455A64;
  --800:  #37474F;
  --900:  #263238;
  --A100: #CCFF90;
  --A200: #69F0AE;
  --A400: #76FF03;
  --A700: #64DD17;
}

$custom-theme: mat-light-theme(
  $app-primary,
  $app-secondary,
  $app-warning
);

@include angular-material-theme($custom-theme);

html, body {
  height: 100% !important;
  width: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 1080px;
  background-color: var(--50);
}

* {
	box-sizing: border-box;
}

.responsive-container {
  margin: 0 200px;
	padding: 0;
	min-height: 75vh;
	height: fit-content;
	max-width: 1280px;
	width: calc(100% - 400px);
	background-color: white;
	border-radius: 0;

	@media (min-width: 1680px) {
		& {
			margin: 0 auto;
		}
	}

	@media (max-width: 1280px) {
		& {
			margin: 0;
			width: 100%;
		}
	}
}
